<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add missions</title>
</head>
<body>
    <h1>Add new missions</h1><br>
    <form method="post">
        <input name="id" type="hidden">

        <input name="title" type="text" placeholder="title">
        <input name="description" type="text" placeholder="description">
        <select name="categories">
            <option>Volvo</option>
            <option>Saab</option>
            <option>Mercedes</option>
        </select>
        <input type=submit>
</form>
    <hr>


</body>


</html>