<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add missions</title>
</head>
<body>
    <h1>Add new missions</h1><br>
    <form method="post">
        <input name="id" type="hidden">

        <input name="title" type="text" placeholder="title">
        <input name="description" type="text" placeholder="description">
        <select name="category">
            <option>Volvo</option>
            <option>Saab</option>
            <option>Mercedes</option>
        </select>
        <input type=submit>
</form>
    <hr>
    <h1>Show missions</h1><br>
    <ul>
    {% for mission in missions %}
        <li>{{ employee.firstname }} {{ employee.lastname }} {{ employee.division }}
            <a href="{{ url_for("update_employee", employee_id=employee.id) }}">Modify</a></li>
    {% endfor %}
</ul>

</body>


</html>