<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add missions</title>
</head>
<body>
    <h1>Add new missions</h1><br>
    <form method="post">
        <input name="id" type="hidden">

        <input name="title" type="text" placeholder="title"><br>
        <input name="description" type="text" placeholder="description"><br>
{#        <form name="categories" action="" method="get">#}
{#            <label><input name="courses" type="checkbox" value="" />courses </label>#}
{#            <label><input name="social" type="checkbox" value="" />social </label>#}
{#            <label><input name="devoirs" type="checkbox" value="" />devoirs </label>#}
{#            <label><input name="francais" type="checkbox" value="" />francais </label>#}
{#        </form>#}
        <input name="categories" type="text" placeholder="categories"><br>
        <input type=submit>
    </form>
    <hr>
</body>


</html>