<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
这是模板<br>
这是首页<br>
{#变量代码块#}
{{ url_str }}<br>
{#列表使用#}
{{ my_list }} <br>
{{ my_list.2 }} <br>
{{ my_list[2] }} <br>

{#字典使用#}
{{ my_dict }} <br>
{{ my_dict.name }} <br>
{{ my_dict['name'] }} <br>
<hr>
{# for + tab  补全#}
{% for num in my_list %}
    {% if num > 3 %}
        {{ num }}<br>
    {% endif %}
{% endfor %}

<hr>
{#过滤器#}

{{ url_str | upper }} <br>
{{ url_str | reverse | upper }}


</body>
</html>