<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/style.css"/>
    <title>Register</title>
</head>
<body>
<header>
    <div class="myheader text-center py-5">
        <h1 class="font-weight-normal display-3 mb-3">Système de Missions</h1><br>
    </div>
</header>
<main>
    <section class="py-5">
        <div class="container text-center">
            <h2 class="display-5 mb-3">S'inscrire</h2><br>
            {% if error_message != None %}
                <div class="alert alert-danger" role="alert">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ error_message }}
                </div>
            {% endif %}

            <form class="form-horizontal" method="post" role="form">
                <div class="form-group row">
                    <div class="col-4"></div>
                    <label class="control-label col-2" for="username">Nom d'Utilisateur: </label>
                    <div class="col-4">
                        <input class="form-control" name="username" type="text">
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-4"></div>
                    <label for="password" class="col-2 control-label">Mot de Passe: </label>
                    <div class="col-4">
                        <input class="form-control" name="password" type="password">
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-4"></div>
                    <label for="password2" class="col-2 control-label">Confirmer Mot de Passe: </label>
                    <div class="col-4">
                        <input class="form-control" name="password2" type="password">
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-4"></div>
                    <label for="name" class="col-2 control-label">Prénom et Nom: </label>
                    <div class="col-4">
                        <input class="form-control" name="name" type="text">
                    </div>
                    <div class="col-2"></div>
                </div>
                <select class="mb-3" name="type">
                    <option value="Etudes">Ingénieur d'Études</option>
                    <option value="Affaires">Ingénieur d'Affaires</option>
                </select><br>
                <button type="submit" class="btn btn-primary">Confirmer</button>
                <a href="/" class="btn btn-danger">S'Identifier</a>
            </form>
        </div>
    </section>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>