<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register</h1><br>
    <form method="post">
        <input name="username" type="text" placeholder="username"><br>
        <input name="password" type="text" placeholder="password"><br>
        <input name="password2" type="text" placeholder="confirm password"><br>
        <input name="name" type="text" placeholder="name"><br>
        <select name="type">
            <option>Etude</option>
            <option>Affaire</option>
        </select><br>
        <input type=submit value="Confirm">
        <a href="login">
           <input type=submit value="Login">
        </a>

    </form>
</body>
</html>